-i https://pypi.python.org/simple/
click==7.1.2
flask==1.0.2
itsdangerous==1.1.0
jinja2==2.11.3
joblib==1.0.1
markupsafe==1.1.1
nltk==3.6
regex==2021.3.17
textblob==0.15.1
tqdm==4.59.0
werkzeug==1.0.1
